# Week1 - Exercise 1.2

### Importing required packages

In [9]:
import numpy as np
import pandas as pd


from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.

In [7]:
# array of size (10,50) with 500 random integers 
np.random.seed(101)
arr = np.array(np.random.randint(1,501,500).reshape(10,50))

# loadd array arr to dataframe using pandas

df = pd.DataFrame(arr)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,352,12,338,327,64,88,76,496,394,462,...,108,344,385,106,458,240,265,63,165,468
1,100,285,320,8,395,437,441,104,295,239,...,277,412,265,343,379,283,500,344,175,48
2,439,230,215,138,174,387,403,59,240,93,...,452,339,442,462,47,132,47,486,286,471
3,150,379,22,466,24,236,255,384,95,357,...,371,286,317,310,396,41,220,302,98,409
4,293,167,138,126,53,68,300,130,80,69,...,67,233,55,146,194,186,474,259,81,51

2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

In [18]:
# sum of each row:

row_sum = df.sum(axis=1)
row_sum

# sum of each columns:

col_sum = df.sum(axis=0)
col_sum

# sum of all entries:

df_sum = df.values.sum()  # df.to_numpy().sum()
df_sum

0    11883
1    14275
2    13600
3    12926
4    10669
5    12588
6    11297
7    12292
8    13196
9    13256
dtype: int64

0     2385
1     1964
2     2159
3     2035
4     1546
5     2379
6     2804
7     1909
8     2611
9     2146
10    2367
11    3149
12    2088
13    2793
14    1995
15    2064
16    2154
17    2957
18    2434
19    1797
20    2749
21    2510
22    2332
23    2720
24    2893
25    2373
26    2871
27    2881
28    2565
29    2482
30    2150
31    3687
32    2463
33    3351
34    2469
35    2652
36    3390
37    2828
38    1972
39    2162
40    2478
41    3045
42    2794
43    2565
44    2908
45    1989
46    2477
47    2891
48    2582
49    3017
dtype: int64

125982

3. Determine the minimum; maximum; average; and standard deviation of all entries.

In [25]:
print("DfataFrame Minimum: ",df.values.min())

print("DfataFrame Maximum: ",df.values.max())

print("DfataFrame Average: ",df.values.mean())

print("DfataFrame Standard Deviation: ",df.values.std())

DfataFrame Minimum:  1
DfataFrame Maximum:  500
DfataFrame Average:  251.964
DfataFrame Standard Deviation:  149.52769209748408

4. Sort the DataFrame: a) sort on column 2; b) sort on row 2.

In [26]:
# sort dataframe on column 2:

df.sort_values(by=2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
3,150,379,22,466,24,236,255,384,95,357,...,371,286,317,310,396,41,220,302,98,409
6,123,2,35,38,442,36,299,116,358,173,...,253,419,252,77,384,95,120,277,454,330
5,323,89,80,350,7,349,43,23,378,245,...,370,380,307,240,151,102,60,323,359,491
8,91,399,113,405,2,327,410,46,97,417,...,360,193,191,345,77,94,468,224,496,197
4,293,167,138,126,53,68,300,130,80,69,...,67,233,55,146,194,186,474,259,81,51
2,439,230,215,138,174,387,403,59,240,93,...,452,339,442,462,47,132,47,486,286,471
1,100,285,320,8,395,437,441,104,295,239,...,277,412,265,343,379,283,500,344,175,48
0,352,12,338,327,64,88,76,496,394,462,...,108,344,385,106,458,240,265,63,165,468
9,454,366,444,53,8,425,370,74,343,15,...,47,212,412,155,405,344,244,116,341,274
7,60,35,454,124,377,26,207,477,331,76,...,173,227,168,381,417,472,79,497,127,278

In [27]:
# sort dataframe on row 2:

df.sort_values(by=2, axis=1)

,16,20,15,44,46,7,32,9,29,12,...,0,42,23,40,34,43,49,28,13,47
0,221,397,317,458,265,496,45,462,372,64,...,352,385,50,108,250,106,468,414,425,63
1,301,141,400,379,500,104,276,239,165,403,...,100,265,204,277,420,343,48,153,328,344
2,4,15,29,47,47,59,72,93,104,114,...,439,442,445,452,453,462,471,473,479,486
3,471,78,306,396,220,384,432,357,53,28,...,150,317,185,371,281,310,409,344,460,302
4,413,53,271,194,474,130,488,69,123,62,...,293,55,456,67,186,146,51,97,147,259
5,439,222,111,151,60,23,164,245,360,410,...,323,307,64,370,224,240,491,302,384,323
6,4,479,86,384,120,116,69,173,146,178,...,123,252,183,253,403,77,330,246,160,277
7,260,497,159,417,79,477,311,76,406,428,...,60,168,456,173,48,381,278,186,21,497
8,23,488,88,77,468,46,383,417,481,170,...,91,191,298,360,10,345,197,151,235,224
9,18,379,297,405,244,74,223,15,272,231,...,454,412,379,47,194,155,274,199,154,116

END